<header class="py-5 bg-image-full" style="background-image: url('https://beiz.jp/images_M/white/white_00032.jpg')">
<div class="container">
  <div class="row mt-4 text-left">
      <h4>退会手続き</h4>
      <hr class="hr1">
  </div>


<div class="container">
    <div class="row mt-5 justify-content-center">
    </div>
    <div class="row mt-5 justify-content-center">
      <h4><font color="#ff0000">退会手続き前にご確認ください</font></h4>
    </div>

    <div class="row mt-5 justify-content-center text-center">
      <h5>退会された場合、注文履歴や配送先など登録した情報が
      <font color="#ff0000">すべて削除されます。</font><br>
      よろしければ下記の「退会する」ボタンで退会手続きできます。</h5>
    </div>






</div>
</div>



