<div class="container text-center">
    <div class="row mt-5 justify-content-center">
      <h4>Myページ</h4>
    </div>
</div>


会員内容編集

カート内確認

注文履歴一覧

<div class="container">
    <div class="row mt-5 justify-content-center">

<div class="card title-center" style="width: 13rem;">
    <%= link_to admin_top_path, class: "card-title" do %>
      <i class="fa-solid fa-cart-flatbed-suitcase fa-3x pl-4 ml-5 mt-3"></i>
      <div class="card-body text-center">
        配送先編集
    <% end %>
      </div>
</div>


<div class="card title-center" style="width: 13rem;">
    <%= link_to admin_top_path, class: "card-title" do %>
      <i class="fa-solid fa-cart-flatbed-suitcase fa-3x pl-4 ml-5 mt-3 "></i>
      <div class="card-body text-center">
        会員情報編集
    <% end %>
      </div>
</div>



</div>
</div>


    <div class="row mt-5 justify-content-center">

<div class="card title-center" style="width: 13rem;">
    <%= link_to public_cart_items_path, class: "card-title" do %>
      <i class="fa-solid fa-cart-flatbed-suitcase fa-3x pl-4 ml-5 mt-3"></i>
      <div class="card-body text-center">
        カート内確認
    <% end %>
      </div>
</div>


<div class="card title-center" style="width: 13rem;">
    <%= link_to public_orders_path, class: "card-title" do %>
      <i class="fa-solid fa-cart-flatbed-suitcase fa-3x pl-4 ml-5 mt-3 "></i>
      <div class="card-body text-center">
        注文履歴一覧
    <% end %>
      </div>
</div>



</div>


