<div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="box font2"><h4>kanzaiya会社概要</h4></div>
    </div>

<table class="table table-bordered mb-5">
  <tr><th bgcolor = "silver">社名</th>
  <td><h3>kanzaiya</h3></td></tr>
  <tr><th bgcolor = "silver">代表者</th>
  <td><strong>取締役社長</strong>  佐藤  正孝</td></tr>
  <tr><th bgcolor = "silver">役員</th><td><strong>常務</strong> 田中　勝<br />
  <strong>専務</strong> 高橋　愛子</td></tr>
  <tr><th bgcolor = "silver">資本金</th><td>1,000万</td></tr>
  <tr><th bgcolor = "silver">創業</th><td>令和元年  12月</td></tr>
  <tr><th bgcolor = "silver">従業員数</th><td>30名(2023年1月現在)</td></tr>
  <tr><th bgcolor = "silver">所在地</th><td><strong>本社</strong><br />
　　　　  〒012-3456<br />
　　　　  札幌市中央区南1条3丁目5-10<br />
　　　　  TEL:011-786-3574<br />
　　　　  FAX:011-786-3575<br />
　　　　  mail:kanzaiya@gmail.com</td></tr>
</table>

</div>





