<div class="container">
    <div class="row mt-5 justify-content-center">
      <h4>kanzaiya会社概要</h4>
    </div>



社名　　kanzaiya
代表者　取締役社長　佐藤　正孝

役員　常務　田中　勝
　　　専務　高橋　愛子

資本金　1,000万

創業　令和

所在地　本社
　　　　〒012-3456
　　　　札幌市中央区南1条3丁目5-10
　　　　TEL:011-786-3574 FAX:011-786-3575