<div class="container">
    <div class="row mt-5 justify-content-center">
      <h4>注文履歴一覧</h4>
    </div>

    <table class="table table-hover table-bordered table-sm">
      <thead>
        <th>購入日時</th>
        <th>購入者</th>
        <th>購入商品</th>
        <th>購入ステータス</th>
      </thead>



    <body>
      <% @instances.each do |instance| %>
       <% if instance.class == Customer %>
        <tr>
          <td><%= link_to instance.created_at.strftime('%Y年%m月%d日 %H:%M:%S'), admin_order_path(instance.id) %></td>
          <td><%= instance.full_name %></td>
          <td><%#= instance.item.name %></td>
          <td></td>
        </tr>
      <% else %>
        <tr>
          <td><%= link_to instance.created_at.strftime('%Y年%m月%d日 %H:%M:%S'), admin_order_path(instance.id) %></td>
          <td><%= instance.full_name %></td>
          <td><%#= instance.item.name %></td>
          <td></td>

      <% end %>
      <% end %>


    </body>

</table>









</div>