<header class="py-5 bg-image-full" style="background-image: url('https://beiz.jp/images_M/white/white_00032.jpg')">

<div class="container">
    <div class="row mt-5 justify-content-center">
      <h4>ショッピングカート</h4>
    </div>
  <% flash.each do |message_tyep,message| %>
  <div class="text-danger">
    <%=message%>
  </div>
  <%end%>


  <table class="table table-secondary table-bordered table-sm">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込み)</th>
        <th>現在の在庫数</th>
        <th>個数</th>
        <th>合計(税込み)</th>
        <th colspan="3"></th>
      </tr>
    </thead>





