@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Klee+One&family=Noto+Sans+JP:wght@700;900&family=Zen+Maru+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kiwi+Maru&family=Klee+One&family=Noto+Sans+JP:wght@700;900&family=Stick&family=Zen+Maru+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kiwi+Maru&family=Klee+One&family=Noto+Sans+JP:wght@700;900&family=Stick&family=Zen+Kurenaido&family=Zen+Maru+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kiwi+Maru&family=Klee+One&family=Noto+Sans+JP:wght@700;900&family=Rubik+Bubbles&family=Stick&display=swap');
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

/*variables*/
$loginfonts: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;

//colors
$fontscolor: #323232;
$loginbg: #f3f3f3;
$headerbg: #16a085;
$buttoncolor: #a5c9c1;
$buttonhover: rgba(26, 188, 156, 1);
$iconhover: #27ae60;

/*general style*/

/*google font*/
@import "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700)";

body {
  font: $loginfonts;
  color: $fontscolor;
  background: $loginbg;
}

/*Login form style*/

/* === Logo === */
.logo {
  background-position: center;
  height: 60px;
  width: 140px;
  margin: 100px auto 30px auto;
}

/* === Form === */
.form {
  width: 100%;

  .field {
    position: relative;
    margin: 0 50px;

    i {
      font-size: 18px;
      left: 0px;
      top: 0px;
      position: absolute;
      height: 44px;
      width: 44px;
      color: #f7f3eb;
      background: #676056;
      text-align: center;
      line-height: 44px;
      transition: all 0.3s ease-out;
      pointer-events: none;
    }
  }
}

/* === Login styles === */
.login {
  position: relative;
  margin: 100px auto;
  width: 370px;
  height: 315px;
  background: white;
  border-radius: 3px;

  &:before {
    content: "";
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }

  h1 {
    line-height: 55px;
    font-size: 24px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: $headerbg;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .submit {
    text-align: center;
  }
  p {
    &:first-child {
      margin-top: 30px;
    }

    .remember {
      float: left;

      label {
        color: #a7a599;
        font-size: 12px;
        cursor: pointer;
      }
    }

    .forgot {
      float: right;
      margin-right: 50px;

      a {
        color: #a7a599;
        font-size: 12px;
        text-decoration: none;
        font-style: italic;
        transition: all 0.3s ease-out;

        &:hover {
          color: #f2672e;
        }
      }
    }
  }
}

/*input style*/
/* === Input Form === */
::-webkit-input-placeholder {
  color: #ded9cf;
  font-family: "Open Sans";
}

:-moz-placeholder {
  color: #ded9cf !important;
  font-family: "Open Sans";
}

.form input[type="text"],
input[type="password"] {
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px 10px 55px;
  position: relative;
  width: 200px;
  height: 24px;
  color: #676056;
  border: none;
  background: #f7f3eb;
  color: #777;
  transition: color 0.3s ease-out;
}

.form input[type="text"] {
  margin-bottom: 15px;
}

.form input[type="text"]:hover ~ i,
.form input[type="password"]:hover ~ i {
  color: $iconhover;
}

.form input[type="text"]:focus ~ i,
.form input[type="password"]:focus ~ i {
  color: $iconhover;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form button[type="submit"]:focus {
  outline: none;
}

.form input[type="submit"] {
  margin-top: 15px;
  width: 270px;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 12px 0;
  letter-spacing: 0;
  box-shadow: inset 0px 0px 0px 0px $buttonhover;

  color: #fff;
  background-color: $buttoncolor;
  text-shadow: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  position: relative;

  -webkit-animation: shadowFadeOut 0.4s;
  -moz-animation: shadowFadeOut 0.4s;
}

.form input[type="submit"]:hover,
input[type="submit"]:focus {
  color: #fff;
  box-shadow: inset 0px 46px 0px 0px $buttonhover;
  -webkit-animation: shadowFade 0.4s;
  -moz-animation: shadowFade 0.4s;
}

/*keyframes for input animation*/

@keyframes shadowFade {
  0% {
    box-shadow: inset 0px 0px 0px 0px $buttonhover;
    color: #fff;
  }
  100% {
    box-shadow: inset 0px 46px 0px 0px $buttonhover;
    color: #fff;
  }
}

@keyframes shadowFadeOut {
  0% {
    box-shadow: inset 0px 46px 0px 0px $buttonhover;
    color: #fff;
  }
  100% {
    box-shadow: inset 0px 0px 0px 0px $buttonhover;
    color: #fff;
  }
}

@-webkit-keyframes shadowFade {
  0% {
    box-shadow: inset 0px 0px 0px 0px $buttonhover;
    color: #fff;
  }
  100% {
    box-shadow: inset 0px 46px 0px 0px $buttonhover;
    color: #fff;
  }
}

@-webkit-keyframes shadowFadeOut {
  0% {
    box-shadow: inset 0px 46px 0px 0px $buttonhover;
    color: #fff;
  }
  100% {
    box-shadow: inset 0px 0px 0px 0px $buttonhover;
    color: #fff;
  }
}

@-moz-keyframes shadowFade {
  0% {
    box-shadow: inset 0px 0px 0px 0px $buttonhover;
    color: #fff;
  }
  100% {
    box-shadow: inset 0px 46px 0px 0px $buttonhover;
    color: #fff;
  }
}

@-moz-keyframes shadowFadeOut {
  0% {
    box-shadow: inset 0px 44px 0px 0px $buttonhover;
    color: #fff;
  }
  100% {
    box-shadow: inset 0px 0px 0px 0px $buttonhover;
    color: #fff;
  }
}

/*continued styling for input */
.form input[type="checkbox"] {
  display: none;
}

/*.form input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    margin: -2px 4px 0 50px;
    vertical-align:middle;
    background:url("../img/checkbox.png") left top no-repeat;
    cursor:pointer;
}
.form input[type="checkbox"]:checked + label span {
    background:url("../img/checkbox.png") -16px top no-repeat;
}*/

/* === Copyright === */
.copyright {
  margin-top: 30px;
  text-align: center;
  p,
  a {
    color: #828078;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.3s ease-out;
    a:hover {
      color: #f2672e;
    }
  }
}



.sample-box {
    position: relative;
}

.heart {
    width: 50px;
    height: 50px;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: 80%;
    left: 80%;

}


.like-btn {
 color: #808080;

 }



 .card{
    transition:box-shadow 0.3s;
}

.card:hover {
    box-shadow:0 0 20px rgb(0, 110, 255, 0.5), 0 2px 5px rgba(0, 0, 0, 0.3);
}


/*文字アニメーション*/
.c02{
  background-image: linear-gradient(to bottom, rgba(#333,0) 0%, rgba(#333,1) 50%);
  background-size: 100% 200%;
  background-position: 0% -100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  &.active{
    animation-name: kf_c02;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
}
@keyframes kf_c02 {
  100%{
    background-position: 0% 100%;
  }
}




.c03{
  color: #e7d4e3; background: #a675a5;
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  &.active{
    animation-name: kf_c03;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}
@keyframes kf_c03 {
  100%{
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}





.c07{
  padding: 26px 26px;
  background-image:
    linear-gradient(to bottom, transparent 10px, #f3981d 10px, #a675a5 13px, transparent 13px),
    linear-gradient(to left,   transparent 10px, #ed6d35 10px, #a675a5 13px, transparent 13px),
    linear-gradient(to top,    transparent 10px, #e95464 10px, #a675a5 13px, transparent 13px),
    linear-gradient(to right,  transparent 10px, #79c06e 10px, #a675a5 13px, transparent 13px);
  background-repeat: no-repeat;
  background-size: 0% 100%, 100% 0%, 0% 100%, 100% 0%;
  background-position: top left, top left, right bottom, right bottom;
  &.active{
    animation-name: kf_c07a, kf_c07b;
    animation-duration: 1.5s, 0s;
    animation-delay: 0s, 0.75s;
    animation-timing-function: linear;
    animation-fill-mode: forwards,
  }
  @keyframes kf_c07a {
    50%{
      background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%;
    }
    100%{
      background-size: 0% 100%, 100% 0%, 0% 100%, 100% 0%;
    }
  }
  @keyframes kf_c07b {
    100%{
      background-position: right bottom, right bottom, top left, top left;
    }
  }
}


.link {
    text-decoration: none;
    color: black ;
}

.pagination {
  justify-content: right;
}




footer {
  width: 100%;
  height: 100px;
  height: 120px;
  text-align: center;
  padding: 50px 0;
  background-color: #e9dacb;
}
.footer-text {
  color: #fff;
}


html,　body {
  height: 100%;
}

/*ナビゲーションバー*/
.basic-3 {
  background:
      linear-gradient(#96514d 0 0)
      bottom /var(--d, 0) 3px
      no-repeat;
  transition:0.5s;
}
.basic-3:hover {
  --d: 100%;
}

/*ログアウト*/
.thick-6 {
  background:
    linear-gradient(#e3acae 0 0)
    left /100% var(--d, 0%) no-repeat;
  transition: 0.5s;
}
.thick-6:hover {
  --d: 100%;
  color: #fff;
}


/*フォントデザイン*/


/*商品名・top紹介文*/
.font {
    font-family: 'Kiwi Maru', serif;  /* フォントを指定 */
}

/*top紹介文・ナビゲーションバー*/
.font1 {
    font-family: 'Stick', sans-serif;
}

/*top紹介文*/
.font2 {
    font-family: 'Zen Maru Gothic', sans-serif;
}

/*新着商品*/
.font3 {
    font-family: 'Hachi Maru Pop', cursive;
}

.font4 {
  font-family: 'Noto Sans JP', sans-serif;
}


/*見出し*/
h2 {
  position: relative;
  display: inline-block;
  padding: 0 65px;
  text-align: center;
}

h2:before,
h2:after {
  position: absolute;
  top: calc(50% - 3px);
  width: 50px;
  height: 6px;
  content: '';
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

h2:before {
  left: 0;
}

h2:after {
  right: 0;
}

/*見出し2*/
h4 {
  position: relative;
  padding: 0.25em 0;
}
h4:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, #ee7800, #e5a323, #79c06e, transparent);
  background: linear-gradient(to right, #ee7800, #e5a323, #79c06e, transparent);
}

.photo2 {
 text-align:right;
 width: 160px;
 height: 500px;
}



.box5 {
  border-radius: 20px;
  width: 700px;
  height: 250px;
  position: relative;
  top: 50%;
  left: 15%;
  /*left: 50%;*/
  /*transform: translate(-50%,-50%);*/
  background:rgba(255,255,255,0.7);
}



/*紙吹雪のスタイル*/
.confetti {
  position: absolute;
  width: 100%;
  height: 100%;
}

.confetti span {
  position: absolute;
  top: -100%;/*アニメーション以外の紙吹雪を非表示*/
  left: 0;
}

/*アニメーションの記述*/
.confetti span:nth-child(2n + 1) {
  animation: confetti1 5s 0s linear infinite;
}

.confetti span:nth-child(2n + 2) {
  animation: confetti2 5s 0s linear infinite;
}

/*紙吹雪を回転させる記述*/
@keyframes confetti1 {
  0% {
    top: -10%;
    transform: translateX(0) rotateX(0) rotateY(0);
  }

  100% {
    top: 100%;
    transform: translateX(20px) rotateX(180deg) rotateY(360deg);
}
}

@keyframes confetti2 {
  0% {
    top: -10%;
    transform: translateX(0) rotateX(0) rotateY(0);
  }

  100% {
    top: 100%;
    transform: translateX(-20vw) rotateX(180deg) rotateY(360deg);
  }
}

/*紙吹雪の配置*/
.confetti span:nth-child(1) {
  left: 0%;
}

.confetti span:nth-child(2) {
  left: 10%;
}

.confetti span:nth-child(3) {
  left: 20%;
}

.confetti span:nth-child(4) {
  left: 30%;
}

.confetti span:nth-child(5) {
  left: 40%;
}

.confetti span:nth-child(6) {
  left: 50%;
}

.confetti span:nth-child(7) {
  left: 60%;
}

.confetti span:nth-child(8) {
  left: 70%;
}

.confetti span:nth-child(9) {
  left: 80%;
}

.confetti span:nth-child(10) {
  left: 90%;
}

.confetti span:nth-child(11) {
  left: 100%;
}

/*紙吹雪の大きさ*/
.confetti span:nth-child(3n + 1) {
  width: 3vw;
  height: 3vw;
}

.confetti span:nth-child(3n + 2) {
  width: 2vw;
  height: 2vw;
}

.confetti span:nth-child(3n + 3) {
  width: 1.5vw;
  height: 1.5w;
}

/*紙吹雪の色*/
.confetti span:nth-child(2n + 1) {
  background: red;
}

.confetti span:nth-child(2n + 2) {
  background: orange;
}

.confetti span:nth-child(2n + 3) {
  background: purple;
}

.confetti span:nth-child(2n + 4) {
  background: pink;
}

.confetti span:nth-child(2n + 5) {
  background: blue;
}

.confetti span:nth-child(2n + 6) {
  background: green;
}

.confetti span:nth-child(2n + 7) {
  background: yellow;
}

/*アニメーションの秒数*/
.confetti span:nth-child(2n + 1) {
  animation-duration: 5s;
}

.confetti span:nth-child(2n + 2) {
  animation-duration: 6s;
}

.confetti span:nth-child(2n + 3) {
  animation-duration: 10s;
}

.confetti span:nth-child(2n + 4) {
  animation-duration: 4s;
}

/*紙吹雪が降り始めるまでの時間*/
.confetti span:nth-child(2n + 1) {
  animation-delay: 0s;
}

.confetti span:nth-child(2n + 2) {
  animation-delay: 4s;
}

.confetti span:nth-child(2n + 3) {
  animation-delay: 6s;
}

.confetti span:nth-child(2n + 4) {
  animation-delay: 2s;
}

.confetti span:nth-child(2n + 5) {
  animation-delay: 6s;
}

.confetti span:nth-child(2n + 6) {
  animation-delay: 10s;
}

.confetti span:nth-child(2n + 7) {
  animation-delay: 2s;
}

.confetti span:nth-child(2n + 8) {
  animation-delay: 4s;
}

.confetti span:nth-child(2n + 9) {
  animation-delay: 11s;
}

.confetti span:nth-child(2n + 10) {
  animation-delay: 1s;
}

.confetti span:nth-child(2n + 11) {
  animation-delay: 5s;
}


/*情報入力に進むボタン*/
.btn-gradient-radius {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}



/*買い物を続けるボタン*/
.btn-gradient-pink {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
  background-image: linear-gradient(65deg, #F13F79, #FFC778);
  transition: .4s;
}

.btn-gradient-pink:hover {
  background-image: linear-gradient(65deg, #F13F79, #FFC778);
}

/*カート内削除*/
.btn-gradient-dark {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(65deg, #dc143c, #ffb6c1);
  transition: .4s;
}

.btn-gradient-dark:hover {
  background-image: linear-gradient(65deg, #dc143c, #ffb6c1);
}



/*更新と編集ボタン*/
.btn-gradient-green {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
  background-image: linear-gradient(65deg, #2e8b57, #66cdaa);
  transition: .4s;
}

.btn-gradient-green:hover {
  background-image: linear-gradient(65deg, #2e8b57, #66cdaa);
}




/*キーワード検索ボタン*/
.btn-gradient-blue {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
  background-image: linear-gradient(65deg, #68a4d9, #a0d8ef);
  transition: .4s;
}

.btn-gradient-blue:hover {
  background-image: linear-gradient(65deg, #68a4d9, #a0d8ef);
}


