<div class="confetti">
 <span></span><span></span><span></span>
 <span></span><span></span><span></span>
 <span></span><span></span><span></span>
 <span></span><span></span>
</div>

<div class="container">
    <div class="row mt-5 mb-5 text-center justify-content-center">
    <div class="font">
      <h1>ご注文ありがとうございました！</h1>
      <h3>商品到着までしばらくお待ちください。</h3>
    </div>
    </div>
    <div class="row mt-5 mb-5 text-center justify-content-center">
      <%= image_tag '15968_color.png', size: '400x500' %>
    </div>
</div>


