<div class="container">
    <div class="row mt-5 justify-content-center">
      <h4>注文情報確認</h4>
    </div>
</div>


<table class="table table-hover table-bordered table-sm">
  <thead>
    <th>商品画像</th>
    <th>商品名</th>
    <th>型</th>
    <th>サイズ</th>
    <th>数量</th>
    <th>定価</th>
  </thead>

  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td></td>
      </tr>




    <% end %>
  </tbody>




</table>