
<div class="container">
    <div class="row mt-5 justify-content-center">
      <h4>注文履歴一覧</h4>
    </div>

<div class="row">
  <div class="col">
    注文日時
  </div>
  <dic class="col">
    <%= @order.created_at %>
  </dic>
</div>