<header class="py-5 bg-image-full" style="background-image: url('https://beiz.jp/images_M/white/white_00032.jpg')">

<div class="login">
    <h1>企業様  ログイン</h1>

    <form class="form" method="post">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <p class="field">
        <div class="row mt-5 justify-content-center">
        <i class="fa-regular fa-envelope fa-2x"></i>
        <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", type: "text", autocomplete: "email"%>
        </div>
      </p>
      <p class="field">
        <div class="row justify-content-center">
           <i class="fa fa-lock fa-2x"></i>
        <%= f.password_field :password, placeholder: "パスワード", autocomplete: "current-password"%>
        </div>
      </p>
      <p class="submit"><input type="submit" name="sent" value="Login"></p>
<% end %>
<div class="row justify-content-center">
  まだ会員登録されていない方はこちらから
  <%= render "public/shared/links" %>
</div>
    </form>
  </div> <!--/ Login-->

<div class="copyright">
    <p>Copyright &copy; 2022. Kanzaiya</a></p>
</header>